body{
    margin: 0px;
    padding: 0px;
}
.headerbg{
    height: 50px;
    background-color: black;
    text-align: center;
}
.headerin{
    margin: 0 auto;
    padding-top: 7px;
}
.menu-outer{
    background-color: rgb(240, 240, 240);
    height: 50px;
}
.menu-inner{
    margin: 0 auto;
    width: 700px;
}
.logo{
    padding-top: 5px;
    height: 45px;
    float: left;
}
.menu{
    margin: 0 auto;
    float: right;
    width: 350px;
}
.menu li{
 display: inline;
 margin: 10px;
 font-size: 20px;
}
.sliderbg{
    width: 100%;
    height: 400px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url(../images/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .6;
}
.sliderblank{
    width: 980px;
    margin: 0 auto;
}
.slidercontent{
    width: 300px;
    padding-top: 80px;
    margin-left: 20%;
    text-align: justify;
    float: left;
}
.outerbody{
    margin: 20px;
    width: 100%;
}
.innerbody{
    width: 800px;
    margin: 0 auto;
}
.headbody{
    height: auto;
    width: 400px;
}
.textbody1{
    font-size: xx-large;
    font-weight: 900;
}
.para{
    height: auto;
    width: 400px;
    text-align: justify;
    float: right;
    margin-top: -50px;
}
.cards{
    width: 800px;
    margin:0 auto;
    padding: 50px;
}
.card1{
    height: 250px;
    width: 250px;
    float: left;
    margin-right: 15px;
}
.content{
    margin: 20px;
    width:200px;
    text-align: justify;
}
.card2{
    height: 250px;
    width: 250px;
    float: left;
    margin-right: 15px;
}
.card3{
    height: 250px;
    width: 250px;
    float: left;
}
.footerimage{
    background-image: url("../images/mount.jpg");
    height: 400px;
    width: 100%;
    margin-top: 280px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.op{
    width: 100%;
    height: 400px;
    background: rgba(29, 27, 27,0.2);
}
.con{
    float: right;
    width: 200px;
    margin: 0 auto;
    margin-right: 200px;
    margin-top: 50px;
    color: white;
}